{% extends "base.html" %}
{% block title_block %}<title>Log-in</title>{% endblock %}
{% block body_block %}
    <h1>Log-in</h1>
    {% if form.errors %}
    <p>
        Your username and password didn't match.
        Please try again.
    </p>
 {% else %}
    <p>Please, use the following form to log-in:
        If you don't have an account <a href="{% url "musicbutler:register" %}">register here</a>.
    </p>
 {% endif %}
    <div class="container-fluid">
        <div class="row">
    <div class="login-form">
    <form action="{% url 'musicbutler:login' %}" method="post">
        <div class="container">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log-in"></p>
        </div>
    </form>
    </div>
        </div>
    </div>
{% endblock %}