{% extends "base.html" %}
{% block title_block %}<title>read_playlist</title>{% endblock %}
{% block body_block %}
<body>
    <center>
    <a href="{% url 'musicbutler:add_playlist' %}">Add a Playlist</a>
        <table border="1" width="700">
            <tr>
                <th>List ID</th>
                <th>Name</th>
                <th>Photo Link</th>
            </tr>
            {% for l in page %}
            <tr>
                <td>{{ l.0 }}</td>
                <td>{{ l.1 }}</td>
                <td>{{ l.2 }} </td>
                <td>
                    <a href="{% url 'musicbutler:edit_playlist' l.0%}">Edit</a>
                    <a href="{% url 'musicbutler:delete_playlist' l.0 %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">Previous</a>
    {% endif %}

    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Next</a>
    {% endif %}
    </center>
{% endblock %}