{% extends "base.html" %}
{% block title_block %}<title>read_singer</title>{% endblock %}
{% block body_block %}
<body>
    <center>
    <a href="{% url 'musicbutler:add_singer' %}">Add a Singer</a>
        <table border="1" width="700">
            <tr>
                <th>Singer_ID</th>
                <th>Name</th>
                <th>Photo_link</th>
                <th>introduction</th>
            </tr>
            {% for k in page %}
            <tr>
                <td>{{ k.0 }}</td>
                <td>{{ k.1 }}</td>
                <td>{{ k.2 }}</td>
                <td>{{ k.3 }} </td>
                <td>
                    <a href="{% url 'musicbutler:edit_singer' k.0%}">Edit</a>
                    <a href="{% url 'musicbutler:delete_singer' k.0%}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}">Previous</a>
    {% endif %}

    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}">Next</a>
    {% endif %}
    </center>
{% endblock %}